# path: k8s/minio/service.yaml
# version: 1.0
# MinIO internal service

apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: chatbot
spec:
  type: ClusterIP
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
      protocol: TCP
    - name: console
      port: 9001
      targetPort: 9001
      protocol: TCP
