# path: k8s/arangodb/service.yaml
# version: 1.0
# ArangoDB internal service

apiVersion: v1
kind: Service
metadata:
  name: arangodb-service
spec:
  type: ClusterIP
  selector:
    app: arangodb
  ports:
    - name: http
      port: 8529
      targetPort: 8529
      protocol: TCP
